/************
 GLOBAL
 ************/

* {
  --text: #1A1A1A;
  --text-hover: #61605a;
  --text-hover-dark: #cbced1;

  --selection-light: #eae8e3; 
  --selection-dark: #bcc0c3;

  --bg: #F6F6F6;
  --bg-opaque: #F6F6F6d6;
  --bg-light: #ECEBE7;
  --bg-dark: #2B3238;

  --stroke-black: #1a1a1a33;
  --stroke-white: #F6F6F633;

  --ease-slow: 0.75s ease;
  --ease-medium: 0.5s ease;
  --ease-fast: 0.375s ease;

  margin: 0;
  color: var(--text);
  text-wrap: pretty;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html, body {
  background-color: var(--bg);
  position: relative;
  overflow-x: hidden; 
}

::selection {
  background: var(--selection-light);
}

.dark ::selection {
  background: var(--selection-dark);
}

section {
  position: relative;
}

.container {
  width: 80%;
  max-width: 65em;

  margin: 0 auto;
}

section .container {
  padding: 10em 0;
}

.portfolio .container {
  padding-bottom: 15em;
}

.container.lg {
  width: calc(100% - 2.5em);
  max-width: none;
}

.accent {
  background-color: var(--bg-light);
}

.dark * {
  color: var(--bg);
}

/* TODO: re-review transition properties now that reveal has been reworked */
.reveal {
  opacity: 0;
  transition: translate var(--ease-slow), opacity var(--ease-slow);
  translate: 0 3rem;
}

.reveal.shown {
  opacity: 1;
  translate: 0 0;
}

.fold .container-image img,
.bio img,
.review-badge,
.card img,
.button {
  border-radius: 0.25em;
}

video {
  clip-path: inset(0px round 0.25em);
}



/************
 TYPOGRAPHY
 ************/

/* headings */

h1,
h2,
h3 {
  font-family: miller-banner, serif;
  font-weight: 200;
}

h1 {
  text-transform: uppercase;
  font-size: min(22vw, 16rem);
  letter-spacing: -8px;
  word-spacing: 10rem;
  text-align: center;
  white-space: nowrap;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -55%);
  width: 100%;

  mix-blend-mode: color-burn;
  color: #645A56;
}

h2 {
  letter-spacing: -3px;
  font-size: 5.5rem;
  text-transform: uppercase;
  line-height: 1.15;
}

h3 {
  letter-spacing: -1px;
  font-size: 3rem;
}

/* subheadings */

.subheading,
.button {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400;
}

.subheading.bold {
  font-weight: 600;
}

.subheading.sm,
.button {
  font-size: 0.75rem;
}

/* body */

p,
a {
  font-family: mundial, sans-serif;
  font-weight: 200;
  font-size: 0.875rem;
  line-height: 1.65;
}

p .bold {
  font-weight: 600;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.inline {
  background: linear-gradient(120deg, var(--text) 0%, var(--text) 100%);
  background-size: 100% 1px;
  background-position: 100% 100%;
	transition: var(--ease-fast);
  background-repeat: no-repeat;
}

.dark .inline {
  background: linear-gradient(120deg, var(--bg) 0%, var(--bg) 100%);
  background-size: 100% 1px;
  background-position: 100% 100%;
	transition: var(--ease-fast);
  background-repeat: no-repeat;
}

/* buttons */

.button {
  padding: 1.25em 2.75em;
  display: inline-block;
  transition: all var(--ease-slow), color var(--ease-medium);
  border: 1px solid var(--text);
  width: fit-content;
  height: fit-content;
  text-wrap: nowrap;
}

.button:before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: var(--text);
  height: 100%;
  width: 0;
  z-index: -1;
  transition: var(--ease-medium);
}

.button.dark {
  border: 1px solid var(--bg);
}

.button.dark:before {
  background-color: var(--bg);
}



/************
 NAV BAR
 ************/

.nav {
  width: 100%;
  background-color: var(--bg-opaque);
  z-index: 99;
  position: fixed;
  transition: var(--ease-medium);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  height: 3.5em;
}

.nav:has(#nav-menu:checked) {
  transition: linear 0s;
  backdrop-filter: unset;
  -webkit-backdrop-filter: unset;
}

.nav .container {
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.nav input {
  display: none;
}

.logomark,
.nav img {
  height: 2.25em;
}

.logomark {
  opacity: 0;
  transition: var(--ease-medium);
  transform: translateY(0.5rem);
}

.logomark.active {
  opacity: 1;
  transform: translateY(0);
}

.logomark img {
  transition: var(--ease-medium);
}

.flex-nav {
  display: flex;
  gap: 2.5em;
}

.flex-nav p {
  display: inline;
}

.nav p,
.flex-nav a { 
  position: relative;
  background: 
    linear-gradient(to right, var(--text), var(--text));
  background-size: 0% 1px;
  background-position: 0 100%;
  transition: var(--ease-fast);
  background-repeat: no-repeat;
  padding-bottom: 4px;
}



/************
 FOLD
 ************/

.container-image {
  margin-top: 3.5em;
  height: calc(100dvh - 7em);
  position: relative;
  overflow: hidden;
}

.fold img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transform: scale(1);
}

.cutout {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.fold-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3.5em;
}

.best-of {
  display: flex;
  align-items: center;
  gap: 2em;
}

.best-of-inner {
  display: flex;
  gap: 2em;
}

.best-of * {
  transition: var(--ease-fast);
}

.best-of a,
.best-of img {
  margin-top: 0.025em;
  height: 1.25em;
  width: auto;
}



/************
 LOGO TICKER
 ************/

.logo-ticker * {
  will-change: transform;
  backface-visibility: hidden;
 }

.logo-ticker .container {
  padding: 5em 0;
  display: flex;
  flex-direction: column;
}

/* TODO: figure out how to rely on flex instead of this */
.logo-ticker .subheading {
  text-align: center;
}

.container-logos {
  overflow-x: hidden;
  padding: 3em 0;
  display: flex;
  position: relative;
}

.container-logos:nth-child(1) {
  transform: translateY(40em);
}

.container-logos:before,
.container-logos:after {
  position: absolute;
  top: 0;
  width: 15vw;
  height: 100%;
  content: "";
  z-index: 2;
}

.container-logos:before {
  left: 0;
  background: linear-gradient(to left, transparent, var(--bg-light));
}

.container-logos:after {
  right: 0;
  background: linear-gradient(to right, transparent, var(--bg-light));
}

.logos {
  display: flex;
  white-space: nowrap;
}

/* TODO: figure out how to not rely on margin for spacing */
.logos a {
  height: 3.75em;
  margin: 0 2.25em;
  transition: var(--ease-slow);
}

.logos a img {
  height: 3.75em;
}



/************
 BIOGRAPHY
 ************/

.flex-half-image {
  display: flex;
  gap: 4rem;
  justify-content: space-between;
}

.bio .text-lockup {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  max-width: 68ch;
}

.headings {
  display: flex;
  flex-direction: column;
  gap: 0.75em;
}

.body {
  display: grid;
  gap: 1rem;
}

.image-wrap {
  position: relative;
  max-width: 20em;
  min-width: 20em;
}

.image-wrap img {
  position: absolute;
  inset: 0;

  height: 100%;
  width: 100%;

  object-fit: cover;
}



/************
 TESTIMONIALS
 ************/

.testimonials {
  display: flex;
  align-items: center;
}

.testimonials .container {
  width: 100%;
  max-width: 100%;
  background-image: url("/assets/imgs/4-testimonials/bg.jpg");
  background-size: cover;
  background-position: center;
}

.review-badge {
  background: var(--bg-light);
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  gap: 2em;
  padding: 0.25em 3em;
}

.review-badge h2 {
  margin-bottom: 0.25em;
}

.review-badge .text-lockup {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.review-badge .text-lockup p {
  text-wrap: nowrap;
}

.testimonial-ticker,
.testimonial-container {
  display: flex;
  gap: 6em;
}

.testimonial {
  display: flex;
  flex-direction: column;
  gap: 2em;
  text-align: center;
}

.testimonial * {
  white-space: nowrap;
}

.testimonial h2 {
  text-transform: none;
  letter-spacing: -2px;
}

.stars {
  word-spacing: 0.1em;
}

.stars i {
  font-size: 1.125rem;
}



/************
 SERVICES
 ************/

.flex-cards {
  display: flex;
  gap: 12em;
}

.flex-cards .text-lockup {
  display: flex;
  flex-direction: column;
  gap: 3em;
}

.cards {
  display: flex;
  gap: 0.75em;
  margin-top: 1.25em;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 2.5em;
  justify-content: space-between;
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 1em;
  max-width: 43ch;
  justify-content: space-between;
  height: 100%;
}

.card-paragraphs {
  display: flex;
  flex-direction: column;
  gap: 0.75em;
}

.card img {
  width: 100%;
}



/************
 GUARANTEE
 ************/

.guarantee {
  background: var(--bg-dark);
  text-align: center;
}

.guarantee .container {
  display: flex;
  flex-direction: column;
  gap: 4em;
}

.features {
  display: grid;
  grid-template-columns: repeat(3, 18em);
  row-gap: 4em;
  justify-content: space-between;
}

.feature {
  border-bottom: 1px solid var(--stroke-white);
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding-bottom: 2em;
}



/************
 REPERTOIRE/FAQ
 ************/

.repertoire .container,
.faq .container {
  display: flex;
  flex-direction: column;
  gap: 4em;
}

.repertoire h2 {
  z-index: 1;
}

.repertoire img {
  position: absolute;
  top: 5em;
  right: -1em;
  height: 35em;
  z-index: 0;
}

.accordion-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  z-index: 1;
}

.accordion-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.accordions {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.accordion {
  padding-bottom: 1.5em;
  border-bottom: 1px solid var(--stroke-black);
  cursor: pointer;
}

.accordion-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
}

.accordion-btn {
  cursor: pointer;
  margin-top: 0.35em;
}

.accordion-btn i {
  display: block;
  width: 16px;
  height: 1px;
  background: var(--text);
}

.accordion-btn i {
  transition: transform var(--ease-medium);
}

.accordion-btn i:nth-child(1) {
  opacity: 1;
  transform: translateY(-2px);
}

.accordion-btn i:nth-child(2) {
  opacity: 1;
  transform: translateY(-3px) rotate(90deg);
}

.active .accordion-btn i:nth-child(1) {
  transform: translateY(-1px) rotate(-180deg);
}

.active .accordion-btn i:nth-child(2) {
  transform: translateY(-2px) rotate(180deg);
}

.accordion-content {
  height: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 1em;
  transition: var(--ease-medium);
}

.accordion-content p:first-child {
  padding-top: 1em;
}

.accordion-content p:last-child {
  padding-bottom: 1em;
}



/************
 PORTFOLIO
 ************/

.portfolio .container {
  display: flex;
  flex-direction: column;
  gap: 4em;
}

.video-grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 0.75em;
  row-gap: 2em;
  justify-content: space-between;
}

.video {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.video.stagger {
  transform: translateY(5em);
}



/************
 CONTACT
 ************/

.contact {
  width: 100%;
  max-width: 100%;
  background-image: linear-gradient(270deg, rgba(43, 50, 56, 0.95) 50%, rgba(43, 50, 56, 0.10) 100%), url("/assets/imgs/8-contact/bg.jpg");
  background-size: cover;
  background-position: center;
}

.contact .container {
  display: flex;
  justify-content: flex-end;
}

.contact .text-lockup {
  margin-right: 12%;
  display: flex;
  flex-direction: column;
  gap: 3em;
}

.contact .text {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.contact .body {
  max-width: 45ch;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.contact .button-container {
  display: flex;
  gap: 1em;
}



/************
 FOOTER
 ************/

.footer .container {
  height: 3.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.socials {
  display: flex;
  gap: 1.2em;
}

.social {
  transition: var(--ease-fast);
}

.social i {
  font-size: 1.5rem;
}



/************
 HOVER DEVICES
 ************/

@media (hover: hover) {
  .flex-nav a:hover {
    background-size: 100% 1px;
  }

  .inline:hover,
  .inline:focus {
    color: var(--text-hover);
    background-size: 0 1px;
  }

  .dark .inline:hover,
  .dark .inline:focus {
    color: var(--text-hover-dark);
    background-size: 0 1px;
  }

  .grid a:hover,
  .grid a:focus {
    transform: scale(1.075);
  }

  .grid a:active {
    transform: scale(1);
  }

  .logomark img:hover,
  .logomark img:focus,
  .best-of img:hover,
  .best-of img:focus,
  .logos a:hover,
  .logos a:focus,
  .social:hover,
  .social:focus {
    transform: scale(1.05);
  }
  
  .logomark:active,
  .best-of img:active,
  .logos a:active,
  .social:active {
    transform: scale(0.95);
  }

  .button:hover,
  .button:focus {
    color: var(--bg);
  }

  .button.dark:hover,
  .button.dark:focus {
    color: var(--bg-dark);
  }

  .button:hover:before,
  .button:focus:before {
    width: 100%;
    left: 0;
    right: unset;
  }
}



/************
 VERTICAL DEVICES
 ************/

@media screen and (max-aspect-ratio: 7/6) {
  /* h1 converts to editorial vertical layout */
  h1 {
    font-size: calc(34vh - 7em);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    bottom: 1.2em;
    left: -1.4em;
    top: unset;
    width: unset;
    word-spacing: 0;
  }
}



/************
 90EM BREAKPOINT
 ************/

@media screen and (max-width: 90em) {
  /* SERVICES: cards and text lockup convert to vertical layout */
  .flex-cards {
    flex-direction: column;
    gap: 4em;
  }

  .flex-cards .text-lockup {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    gap: 6em;
  }

   /* CONTACT: text lockup shifts further right */
  .contact .text-lockup {
    margin-right: 4%;
  }
}



/************
 75EM BREAKPOINT
 ************/

@media screen and (max-width: 75em) {
  /* FOLD: best of badges go away */
  .best-of {
    display: none;
  }

  /* BIO: decreased gap between text lockup and photo */
  .flex-half-image {
    gap: 3em;
  }
  
  /* GUARANTEE: collapses to 2 columns; features convert to centered spacing */
  .features {
    grid-template-columns: repeat(2, 18em);
    justify-content: center;
    gap: 6em;
    row-gap: 4em;
  }

  /* PORTFOLIO: collapses to 3 columns */
  .video-grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}



/************
 50EM BREAKPOINT
 ************/

@media screen and (max-width: 50em) {
  /* TYPOGRAPHY: h2s responsively decrease in size */
  h2 {
    font-size: clamp(3rem, 12vw, 5.5rem);
    letter-spacing: -1.5px;
  }

  .review-badge h2 {
    font-size: 5.5rem;
  }

  /* BIO: container becomes full-width */
  .bio .container {
    width: calc(100% - 2.5em);
    max-width: none;
  }

  /* BIO: allow image to shrink a bit more */
  .flex-half-image {
    gap: 2em;
  }

  .image-wrap {
    min-width: 16em;
  }

  /* SERVICES: cards move to separate rows */
  .cards {
    flex-direction: column;
    gap: 1.5em;
  }

  /* SERVICES: cards convert to horizontal layout */
  .card {
    flex-direction: row;
    gap: 2em;
  }

  .card-content {
    min-width: 30%;
  }

  .card img {
    width: 50%;
  }

  /* GUARANTEE: container becomes full-width */
  .guarantee .container {
    width: calc(100% - 2.5em);
    max-width: none;
  }

  /* GUARANTEE: features revert to justified spacing */
  .features {
    justify-content: space-between;
    gap: 0;
    row-gap: 4em;
  }

  /* REPERTOIRE/FAQ: accordion grid converts to one column layout */
  .accordion-grid {
    flex-direction: column;
    gap: 4em;
  }

  /* PORTFOLIO: portfolio collapses to 2 columns */
  .video-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  /* CONTACT: ditch gradient overlay and right-aligned layout */
  .contact {
    background-image: linear-gradient(270deg, rgba(43, 50, 56, 0.95) 0%, rgba(43, 50, 56, 0.95) 100%), url("/assets/imgs/8-contact/bg.jpg");
  }

  .contact .container {
    justify-content: flex-start;
  }
}



/************
 40EM BREAKPOINT
 ************/

@media screen and (max-width: 40em) {
  /* GLOBAL: reduce padding of all sections */
  section .container {
    padding: 7em 0;
  }

  .logo-ticker .container {
    padding: 4em 0;
  }

  .bio .container {
    padding-bottom: 10em;
  }

  .testimonials .container {
    padding-top: 10em;
  }

  .portfolio .container {
    padding-bottom: 12em;
  }

  /* TYPOGRAPHY: h3s, subheadings, and body text decrease in size */
  h3 {
    font-size: 2.5rem;
  }

  .subheading.sm,
  .button {
    font-size: 0.6875rem;
  }

  p,
  a {
    font-size: 0.8125rem;
  }

  /* FOLD: image shifts to accomodate h1 */
  .fold img {
    object-position: 53% 50%;
  }

  /* BIO: half image module converts to vertical layout */
  .flex-half-image {
    flex-direction: column;
    gap: 4em;
    align-items: flex-start;
  }

  .image-wrap {
    width: 100%;
    max-width: 100%;
    aspect-ratio: 5/8;
  }

  .image-wrap img {
    position: relative;
    width: 100%;
    aspect-ratio: 5/8;
  }

  /* TESTIMONIALS: review badge copy moves to two lines */
  .review-badge {
    padding: 0.5em 2.5em;
  }

  .review-badge .text-lockup p {
    text-wrap: wrap;
  }

  /* TESTIMONIALS: ditch ticker scrolling; convert to vertical layout */
  .testimonial-ticker {
    justify-content: center;
  }

  .testimonial-container {
    flex-direction: column;
    gap: 6em;
  }

  .testimonial-container:nth-child(1) {
    display: none;
  }

  .testimonial {
    gap: 1.75em;
  }

  /* SERVICES: allow button in text lockup to wrap to next line */
  .flex-cards .text-lockup {
    flex-wrap: wrap;
    row-gap: 2em;
  }

  /* GUARANTEE: grid converts to 1 column layout; reverts to centered spacing */
  .features {
    grid-template-columns: repeat(1, 18em);
    justify-content: center;
  }

  /* REPERTOIRE: logomark moves to center */
  .repertoire img {
    left: 50%;
    transform: translateX(-50%);
  }

  /* REPERTOIRE/FAQ: containers become full-width */
  .repertoire .container,
  .faq .container {
    width: calc(100% - 2.5em);
    max-width: none;
  }
}



/************
 35EM BREAKPOINT
 ************/

@media screen and (max-width: 35em) {
  /* SERVICES: cards convert back to vertical layout */
  .cards {
    gap: 4em;
  }

  .card {
    flex-direction: column;
  }

  .card img {
    width: 100%;
    aspect-ratio: 5/8;
  }

  /* NAV: links convert to hamburger menu */
  .nav-links {
    position: absolute;
    min-width: 100vw;
    min-height: 100vh;
    top: 0;
    left: 0;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    background: var(--bg-opaque);
    z-index: 2;
    opacity: 0;
    transition: var(--ease-medium);
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .container #nav-menu:checked {
    width: 100%;
  }
  
  .flex-nav {
    text-align: center;
    flex-direction: column;
    gap: 1.5em;
    justify-content: center;
  }

  .flex-nav a {
    display: inline-block;
    transition-property: transform, opacity, background;
    transition: var(--ease-medium), var(--ease-medium), var(--ease-medium);
  }
  
  .nav-links a {
    opacity: 0;
    transition: var(--ease-medium);
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    pointer-events: none;
    transform: translateX(-50px);
  }
  
  .nav-links a:nth-child(1) {
    transition-property: transform, opacity, background;
    transition-delay: .1s, .1s, 0s;
  }
  
  .nav-links a:nth-child(2) {
    transition-property: transform, opacity, background;
    transition-delay: .2s, .2s, 0s;
  }
  
  .nav-links a:nth-child(3) {
    transition-property: transform, opacity, background;
    transition-delay: .3s, .3s, 0s;
  }
  
  .nav-links a:nth-child(4) {
    transition-property: transform, opacity, background;
    transition-delay: .4s, .4s, 0s;
  }

  .nav-links a:nth-child(5) {
    transition-property: transform, opacity, background;
    transition-delay: .5s, .5s, 0s;
  }
  
  .nav-btn {
    cursor: pointer;
    z-index: 3;
  }
  
  .nav-btn i {
    display: block;
    width: 16px;
    height: 1px;
    background: var(--text);
    transition: var(--ease-medium);
  }
  
  .nav-btn i:nth-child(2) {
    margin-top: 5px;
    opacity: 1;
  }
  
  .nav-btn i:nth-child(3) {
    margin-top: 5px;
  }
  
  #nav-menu:checked ~ .nav-btn {
    transform: rotate(45deg);
  }

  #nav-menu:checked ~ .nav-btn i:nth-child(1) {
    transform: translateY(6px) rotate(180deg);
  }

  #nav-menu:checked ~ .nav-btn i:nth-child(2) {
    opacity: 0;
  }

  #nav-menu:checked ~ .nav-btn i:nth-child(3) {
    transform: translateY(-6px) rotate(90deg);
  }

  #nav-menu:checked ~ .nav-links {
    opacity: 1;
    -webkit-user-select: auto; /* Safari */        
    -moz-user-select: auto; /* Firefox */
    -ms-user-select: auto; /* IE10+/Edge */
    user-select: auto; /* Standard */
    pointer-events: auto;
  }

  #nav-menu:checked ~ .nav-links a {
    opacity: 1;
    transform: translateX(0);
    -webkit-user-select: auto; /* Safari */        
    -moz-user-select: auto; /* Firefox */
    -ms-user-select: auto; /* IE10+/Edge */
    user-select: auto; /* Standard */
    pointer-events: auto;
  }
}



/************
 SCROLL HELPERS
 ************/

.scroll-helper-bio,
.scroll-helper-services,
.scroll-helper-music,
.scroll-helper-faq {
  width: 100%;
  position: absolute;
  z-index: -99;
}
 
.scroll-helper-bottom {
  height: 100vh;
  width: 0;
  position: absolute;
  bottom: 0;
  z-index: -99;
}